@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


span {
  color: red;
}

/* Dev functionality  */
/* Ipsum functionality */
/* Test functionality */